
/* Clearing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Self Clearing Goodness */
.container {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}
.row {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}
.u-cf {
	content: "";
	display: table;
	clear: both;
}
