
/* Spacing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
button {
	margin-bottom: 1rem;
}
.button {
	margin-bottom: 1rem;
}
input {
	margin-bottom: 1.5rem;
}
textarea {
	margin-bottom: 1.5rem;
}
select {
	margin-bottom: 1.5rem;
}
fieldset {
	margin-bottom: 1.5rem;
}
pre {
	margin-bottom: 2.5rem;
}
blockquote {
	margin-bottom: 2.5rem;
}
dl {
	margin-bottom: 2.5rem;
}
figure {
	margin-bottom: 2.5rem;
}
table {
	margin-bottom: 2.5rem;
}
p {
	margin-bottom: 2.5rem;
}
ul {
	margin-bottom: 2.5rem;
}
ol {
	margin-bottom: 2.5rem;
}
form {
	margin-bottom: 2.5rem;
}
